@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;

}

.home, .graphs, .creditworthiness, .loan {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.newexpense {
  text-align: center;
  display: block;
  margin-top: 5%;
  margin-left: 45%;
}

.newexpense_form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.inputEx {
  min-width: fit-content;
  max-width: 200px;
}

.history {
  display: flexbox;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.dbData-f {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 80%;
  margin-left: 10%;
  border-style: solid;
  border-radius: 25px;
  background-color: chartreuse;
  }

  .dbData-p {
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 80%;
    margin-left: 10%;
    border-radius: 25px;
    border-style: solid;
    }

  .inputEx {
    margin-top: 20px;
    min-width: 250px;
    max-width: 400px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    margin-left: 40%;
  }